.current-rating(data-color-id="#{color}")
ul.color-ratings
  li.set-color(data-color-id="0")
  li.set-color(data-color-id="1")
  li.set-color(data-color-id="2")
  li.set-color(data-color-id="3")
  li.set-color(data-color-id="4")
  li.set-color(data-color-id="-1")
    i.fa.fa-times