.image.loading(style="background-image: url(#{image});")
  figure
    - for(var i =1; i < 6; ++i)
      .dotwrap(class="dotwrap#{i}")
        .load-dot(class="dot#{i}")
.rating-hold
.color-hold
.has-comments(style="display:none;")