.owner-input
  .centered-content
    .user-headline Save your edit.
    .sub-headline Thanks for your input on
      i #{title}
    input.editor-name(type="text", placeholder="What's your name?")
    .btn.alt.disabled.save Save and Submit!
