.auth-wrap
  top:      0
  width:    100%
  height:   100%
  position: fixed
  text-align: center
  background-image:url('../imgs/background-flat.jpg')

  .edit-logo
    margin: 55px 0

  form
    background: #e6e8eb
    max-width: 580px
    margin: 0 auto
    padding: 50px
    position: relative

  input
    width: 242px
    color: darken(#e6e8eb, 40%)
    background: #FFF
    border: solid 1px darken(#e6e8eb, 8%)
    border-radius: 3px
    padding: 11px 20px
    font-size: 16px
    display: inline-block
    margin-bottom: 15px

  .auth-footer
    position: absolute
    right: 0
    bottom: -40px

    .btn
      border: none
      color: #FFF
      font-weight: 500
      font-size: 17px
      background: transparent

      span
        text-decoration: underline
        display: inline-block
        margin-left: 10px