.comments
  position: absolute
  width: 90%
  left: 5%
  top: 88%
  z-index: 3
  height: 100%
  .inner
    width: 100%
    max-width: 800px
    margin: 0 auto

.comment
  text-align: left
  font-size: 14px
  line-height: 17px
  width: 80%
  color: #3D3D3D

.comments-hold
  max-height: 17%
  overflow: auto
  position: absolute
  width: 100%
  background: #e6e8eb

.comment-entry
  width: 100%
  padding: 10px
  border-top: solid 1px #cdd2d9
  background: $grey

  .btn
    width: 133px
    margin-top: 3px

.comment-field
  background: $grey
  border-radius: 3px
  border: solid 1px #cdd2d9
  width: 80%
  padding: 11px
  font-size: 12px
  margin-top: -1px
  color: #4E4E4E
  outline: none

  @media screen and (max-width: 780px)
    width: 70%

.time-stamp
  font-weight: 700
  color: #BEBEBE
  font-size: 12px

.comments-list
  background: $grey
  padding: 0 10px

  li
    display: block

    .inner
      padding: 13px 0
      border-top: solid 1px #cdd2d9
