#app
  padding-top: $headerHeight

.edits
  margin: 0 auto
  max-width: $max-width
  text-align: center
  color: $blue

.your-edits
  padding: $spacer
  font-size: 20px

.edit-tile.empty
  background: #FFF

.empty-edits
  text-align: center
  position: absolute
  width: 100%
  top: 50%
  margin-top: -20px

.load-more
  margin:   20px 0
  opacity:  0