.ui-form
  margin:     $spacer 0
  border:     solid 1px $border
  padding:    $spacer*2
  background: $lightDark

  label
    display:        inline-block
    font-size:      14px
    font-weight:    700
    margin-bottom:  $spacer

  input
    margin-bottom: $spacer * 2

  input[type='email']
    width: 300px
