.logo-link
  display: inline-block
  margin-top: 6px

.header
  top: 0
  left: 0
  width: 100%
  height: $headerHeight
  background: $grey
  color: $font_color
  line-height: 45px
  padding: 0 $spacer
  z-index: $headerIndex
  position: fixed
  border-bottom: solid 1px $border

.upload-progress
  position: fixed
  top: 47px
  left: 0
  height: 2px
  background: #3FDD85
  transition: width 200ms