$grey            = #FFF
$dark            = #e6e8eb
$lightDark       = #FFF
$seafoam         = #3AC4C3
$orange          = #FC6961
$font_color      = #555667
$border          = #c3c4cc
$spacer          = 10px
$headerIndex     = 10
$headerHeight    = 47px
$max-width       = 1250px
$orange          = #fd6960
$blue            = #4798dd
$radius          = 5px
$edit_list_width = 220px

// colors
$ratings =  #ff657f #ff9231 #a3d869 #fbda64 #5bb4e5

placeholdeColor($color)
  &::-webkit-input-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color
